pynput==1.4
pyparsing==2.4.2
PyScreeze==0.1.18
pytest==5.2.0
pytest-html==2.1.1
pytest-sugar==0.9.2
PyTweening==1.0.3
pywin32==223
pywinauto==0.6.3
PyYAML==3.13
requests==2.21.0
selenium==3.14.1
six==1.11.0
urllib3==1.23
Werkzeug==0.16.0
xlrd==1.2.0
xmlrunner==1.7.7
yagmail==0.11.220
zipp==0.5.2
